<header>
  <div class="navbar navbar-fixed-top">
  	<div class="navbar-inner">
  	  <div class="container">

        <% if user_signed_in? %>

          <ul class="nav pull-left">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Users", users_path %></li>
          </ul>

          <ul class="nav pull-right">
            <li><%= link_to current_user.name, current_user %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
          </ul>

        <% else %>

          <ul class="nav pull-right">
            <li><%= link_to "Log In with Facebook", '/auth/facebook/' %></li>
          </ul>

        <% end %>

      </div>
    </div>
  </div>
</header>
